@{
    ViewData["Title"] = "文章";
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseList.cshtml";
}
<div class="row">
    <div id="toolbar">
        <h1 class="page-title">文章</h1>
        <div class="form-inline pull-right">
            <div class="form-group">
                <label>标 题：</label>
                <input type="text" class="form-control input-sm" name="Title" placeholder="请输入标题">
            </div>
            <button class="btn btn-default btn-xs" name="btn_select_box" type="submit"><i class=" fa fa-search fa-lg"></i> 查询 </button>
        </div>
    </div>
    <div id="ctrltable">

    </div>
</div>

<script type="text/javascript">
    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/sysManage/article/GetPagingArticle",
        columns: [
            {field:"title",title:"标题",width:100,sort:false,align:"center"},
            { field:"articleTypeName",title:"文章类型",width:100,sort:false,align:"center"},
            {
                field: "isShow", title: "是否显示", width: 100, sort: false, align: "center", forrmatter(obj) {
                    if (!obj.isShow) {
                        return '<p>否</p>';
                    }
                    return '<p class="bg-primary">是</p>';
                }},
            {field:"orderNo",title:"排序码",width:100,sort:false,align:"center"},
            {field:"createTime",title:"创建时间",width:100,sort:false,align:"center"},
            {
                field: "pic", title: "图片", width: 100, sort: false, align: "center", forrmatter(obj) {
                    var url = obj.pic == null ? "/images/no.png" : obj.pic;
                    return "<img style='height: 30px;width: 30px;' src='" + url+"'>";
                }
            },
            {field:"summary",title:"简介",width:100,sort:false,align:"center"},
            {field:"counter",title:"阅读量",width:100,sort:false,align:"center"},
            {field:"seoTitle",title:"",width:100,sort:false,align:"center"},
            {field:"seoDes",title:"",width:100,sort:false,align:"center"},
            {field:"seoKey",title:"",width:100,sort:false,align:"center"}
        ],
        pagination: true,
        searchnation: true,
        pagerow: 15,
        Sidx: "article.CreateTime",
        Sord: "desc",
        Serial: true
    });
    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })
    function btn_add_box() {
        $.windowsOpen("/sysManage/article/Edit", "新增文章", '55%', '95%');
    }
    function btn_edit_box() {
        var obj = $grid.gridRowValue();
            if (obj==null) {
                $.Alert({ resultSign: 1, message: "请选择一个文章！" });
                return false;
            }
            $.windowsOpen("/sysManage/article/Edit?id=" + obj.articleId, "编辑文章", '55%', '95%');
    }
</script>