@{
    ViewData["Title"] = "用户列表";
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseList.cshtml";
}


<div class="row">
    <div id="toolbar">
        <h1 class="page-title">用户列表</h1>
        <div class="form-inline pull-right " id="toolbutton">
            <button class="btn btn-default btn-xs" name="btn_select_box" type="submit"><i class=" fa fa-search fa-lg"></i> 查询 </button>
        </div>

    </div>
    <div id="ctrltable">

    </div>
</div>

<script type="text/javascript">
    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/sysManage/user/GetPagingUser",
        columns:[
            {field:"code",title:"登录名",width:120,sort:false,align:"center"},
            {field:"name",title:"真实姓名",width:100,sort:false,align:"center"},
            {field:"mobile",title:"电话",width:100,sort:false,align:"center"},
            {field:"email",title:"邮箱",width:100,sort:false,align:"center"},
            { field:"firstVisitTime",title:"第一次访问时间",width:150,sort:false,align:"center"},
            { field:"lastVisitTime",title:"最后一次访问时间",width:150,sort:false,align:"center"},
            {field:"remark",title:"备注",width:100,sort:false,align:"center"},
            {
                field: "isAdmin", title: "是否是管理员", width: 100, sort: false, align: "center", forrmatter(obj) {
                    if (!obj.isAdmin) {
                        return '<p>否</p>';
                    }
                    return '<p class="bg-primary">是</p>';
                }
            },
            {field:"createTime",title:"创建时间",width:100,sort:false,align:"center"},
            {
                field: "isFreeze", title: "冻结", width: 100, sort: false, align: "center", forrmatter(obj) {
                    if (obj.isFreeze) {
                        return '<p>冻结</p>';
                    }
                    return '<p class="bg-primary">未冻结</p>';
                }
            }
        ],
        pagination: true,
        pagerow: 15,
        Sidx: "createTime",
        Sord: "desc",
        Serial:true
    });
    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })
    function btn_add_box() {
        $.windowsOpen("/sysManage/User/Edit", "新增用户", '55%', '60%');
    }
</script>