@{
    ViewData["Title"] = "登陆日志";
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseList.cshtml";
}
@section style
    {
    <script src="~/lib/echarts/echarts.min.js" asp-append-version="true"></script>
    <script src="~/js/Plugins/echarts/map/china.js" asp-append-version="true"></script>
}
<div class="row">
    <div id="toolbar">
        <h1 class="page-title">登录</h1>
        <div class="form-inline pull-right" id="toolbutton">

            <div class="input-group input-group-sm">
                <input type="text" name="date2" id="date2" class="form-control input-sm">
                <span class="input-group-addon"><i class="fas fa-calendar-alt fa-lg"></i></span>
            </div>
            <div class="form-group">
                <label>用户名：</label>
                <input type="text" class="form-control input-sm" name="CreateUserName" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label>登录代码：</label>
                <input type="text" class="form-control input-sm" name="CreateUserCode" placeholder="请输入登录代码">
            </div>
            <button class="btn btn-default btn-xs" name="btn_select_box" type="submit"><i class=" fa fa-search fa-lg"></i> 查询 </button>
        </div>
    </div>
    <div id="ctrltable">
    </div>
    <div id="box" style="width: 100%; height: 242px;">

    </div>
</div>

<script type="text/javascript">
    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/SysManage/Log/GetPagingLoginLog",
        columns: [
            { field: 'createUserName', title: '用户名', width: 100, align: 'left', sort: true },
            { field: 'createUserCode', title: '登录代码', width: 150, align: 'left', sort: true },
            { field: 'createTime', title: '时间', width: 180, align: 'left', sort: true },
            { field: 'ipAddressName', title: 'Ip对应地址', width: 250, align: 'left' },
            { field: 'osVersion', title: '操作系统', width: 100, align: 'left', sort: true },
            { field: 'serverHost', title: '服务器主机名', width: 100, align: 'left' },
            { field: 'clientHost', title: '客户端主机名', width: 100, align: 'left' },
            { field: 'userAgent', title: '浏览器信息', width: 150, align: 'left' },
            {
                title: '操作', align: 'center', forrmatter: function (data) {
                    return '<button type="button" class="btn btn-primary btn-xs" onclick="details(this)" data-id=' + data.loginLogId + '><i class="fas fa-search-plus"></i>查看详情</button>';
                }
            }],
        pagination: true,
        searchnation: true,
        pagerow: 15,
        Sidx: "createTime",
        Sord: "desc",
        Serial: true
    });
    $("input[name='date2']").ctrldaterangepicker();

    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })
    function btn_data_box() {
        $.windowsOpen("/sysManage/Log/LoginData", "数据分析", '55%', '85%');
    }


    function details(obj) {
        var id = $(obj).data("id");
        if (!$.IsEmptyGuid(id)) {
            $.windowsOpen("/sysManage/Log/LoginDetails?id=" + id, "日志详情", '35%', '45%');
        }
    }
    var rllfx = echarts.init(document.getElementById("box"));
    $post("/SysManage/Log/FindLoginLogAnalysis", null).then(function (data) {
        option = {
            title: {
                text: '登录日志报表',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['登录次数']
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: { readOnly: false },
                    magicType: { type: ['line', 'bar'] },
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: data.xdata
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                }
            },
            series: [
                {
                    name: '登录次数',
                    type: 'line',
                    data: data.ydata,
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    }
                }
            ]
        };

        rllfx.setOption(option);
    }
    );
    setTimeout(function () {
        rllfx.resize();
        window.onresize = function () {
            rllfx.resize();
        }
    }, 200)
</script>
