@{
    ViewData["Title"] = "后台管理系统-登录";
}
<div class="facelogin">
    <div class="d-flex row">
        <div class="col-md-3 left-bag">
            <div class="p-5">
                <img src="~/images/logo.png" alt="" />
            </div>
            <div class="p-5">
                <h3>欢迎！</h3>
                <p>欢迎登录.</p>
                <form class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input type="text" class="form-control" name="Code" value="admin" placeholder="请输入登录名" data-parsley-required="登录名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group ">
                            <span class="input-group-addon"><i class="fas fa-key"></i></span>
                            <input type="password" class="form-control" name="Password" value="admin" placeholder="请输入密码" data-parsley-required="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" id="btnLogin" value="登 录">
                        </div>
                </form>
                <p>
                    其他方式登录:<img class="img-circle image-responsive" style="    height: 25px;" src="/images/qq.jpg" alt="QQ" />
                    <img class="img-circle image-responsive" style="    height: 25px;" src="/images/ai.png" alt="头像" />
                </p>
            </div>
        </div>
        <div class="col-md-9 main"
             style="background: url(/images/logo1.png) #FFEFE4">
            <video id="video" autoplay style="width: 100%;height: 100%;opacity: 0.2"></video>
            <!--描绘video截图-->
            <canvas id="canvas" width="480" height="320"></canvas>
        </div>
    </div>
</div>
<script>
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    $(".register").click(function () {
        if (navigator.mediaDevices.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.getUserMedia) {
            getUserMediaToPhoto(error);
        } else {
            alert('你的浏览器不支持访问用户媒体设备');
        }
        function getUserMediaToPhoto(error) {
            navigator.getUserMedia = navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia;

            if (navigator.getUserMedia) {
                navigator.getUserMedia({
                    audio: true,
                    video: {
                        width: 1280,
                        height: 720
                    }
                },
                    function (stream) {
                        var video = document.querySelector('video');
                        video.srcObject = stream;
                        video.onloadedmetadata = function (e) {
                            video.play();
                            postFace();
                        };
                    },
                    function (err) {
                        error(err)
                    }
                );
            } else {
                var div = document.createElement("div");
                div.innerHTML = 'getUserMedia not supported';
                document.body.appendChild(div);
                alert("getUserMedia not supported");
            }
        }

        function error(error) {
            console.log('访问用户媒体失败：', error.name, error.message);
        }
    })
    
    function postFace() {
        setTimeout(function () {
            context.drawImage(video, 0, 0, 480, 320);
            img = canvas.toDataURL('image/jpg')
            img = img.split(',')[1]
            $.post({
                url: '/sysmanage/account/LoginFaceSubmit',
                data: {
                    facebase: img
                },
                success: function (callback) {
                    if (callback == 'no') {
                        postFace()
                    } else {
                      //  window.location.href = callback
                    }
                },
                error: function (callback) {
                    postFace()
                }
            })
        }, 300)
    }
   


 
</script>