@{
    ViewData["Title"] = "异常日志";
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseList.cshtml";
}
<div class="row">
    <div id="toolbar">
        <h1 class="page-title">异常日志</h1>
        <div class="form-inline pull-right" id="toolbutton">
            <div class="input-group input-group-sm">
                <input type="text" name="date2" id="date2" class="form-control input-sm">
                <span class="input-group-addon"><i class="fas fa-calendar-alt fa-lg"></i></span>
            </div>
            <div class="form-group">
                <label>用户名：</label>
                <input type="text" class="form-control input-sm" name="CreateUserName" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label>登录代码：</label>
                <input type="text" class="form-control input-sm" name="CreateUserCode" placeholder="请输入登录代码">
            </div>
            <button class="btn btn-default btn-xs" name="btn_select_box" type="submit"><i class=" fa fa-search fa-lg"></i> 查询 </button>
        </div>
    </div>
    <div id="ctrltable">

    </div>
</div>


<script type="text/javascript">
    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/SysManage/Log/GetPagingExceptionLog",
        columns: [
            { field: 'createTime', title: '错误时间', width: 200, align: 'left', sort: true },
            { field: 'message', title: '错误信息', width: 100, align: 'left'},
            { field: 'requestUrl', title: '请求Url', width: 100, align: 'left'},
            { field: 'stackTrace', title: '堆栈信息', width: 200, align: 'left' },
            { field: 'innerException', title: '内部信息', width: 150, align: 'left'},
            { field: 'createUserCode', title: '登录名', width: 150, align: 'left' },
            { field: 'createUserName', title: '名称', width: 100, align: 'left' },
            { field: 'httpMethod', title: '请求方式', width: 150, align: 'left' },
            { field: 'clientHost', title: '客户端Ip', width: 150, align: 'left' },
            { field: 'clientAddress', title: '客户端地址', width: 150, align: 'left' },
            { field: 'requestData', title: '请求数据', width: 150, align: 'left', sort: true },
            {
                title: '操作', align: 'center', forrmatter: function (data) {
                    return '<button type="button" class="btn btn-primary btn-xs" onclick="details(this)" data-id=' + data.exceptionLogId + '><i class="fas fa-search-plus"></i>查看详情</button>';
                }
            }
        ],
        pagination: true,
        pagerow: 15,
        Sidx: "createTime",
        Sord: "desc",
        Serial: true
    });
    $("input[name='date2']").ctrldaterangepicker();
    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })

    function details(obj) {
        var id = $(obj).data("id");
        if (!$.IsEmptyGuid(id)) {
            $.windowsOpen("/sysManage/Log/ExceptionDetails?id=" + id, "日志详情", '65%', '65%');
        }
    }
</script>