<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
  internalLogLevel="Trace">
  <!-- internalLogFile="internal-nlog.txt"> -->
  <extensions>
    <add assembly="Ctrl.Core.Core"/>
  </extensions>
  <targets async="true">

    <target name="Logindatabase" xsi:type="Database"  dbProvider="System.Data.SqlClient.SqlConnection,System.Data.SqlClient" >
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO Sys_LoginLog ( CreateTime,LoginLogId,CreateUserName, CreateUserId, CreateUserCode, ServerHost, ClientHost, UserAgent, OsVersion, LoginTime, IpAddressName,LoginStatus )
        VALUES
        (
        @CreateTime,
        @LoginLogId,
        @CreateUserName,
        @CreateUserId,
        @CreateUserCode,
        @ServerHost,
        @ClientHost,
        @UserAgent,
        @OsVersion,
        @LoginTime,
        @IpAddressName,
        @LoginStatus
        )
      </commandText>
      <parameter name="@LoginLogId" layout="${Convert:Property=LoginLogId}"/>
      <parameter name="@CreateUserId" layout="${Convert:Property=CreateUserId}"/>
      <parameter name="@CreateUserCode" layout="${Convert:Property=CreateUserCode}"/>
      <parameter name="@ServerHost" layout="${Convert:Property=ServerHost}"/>
      <parameter name="@UserAgent" layout="${Convert:Property=UserAgent}"/>
      <parameter name="@OsVersion" layout="${Convert:Property=OsVersion}"/>
      <parameter name="@LoginTime" layout="${Convert:Property=LoginTime}"/>
      <parameter name="@IpAddressName" layout="${Convert:Property=IpAddressName}"/>
      <parameter name="@CreateUserName" layout="${Convert:Property=CreateUserName}"/>
      <parameter name="@CreateTime" layout="${Convert:Property=CreateTime}"/>
      <parameter name="@ClientHost" layout="${Convert:Property=ClientHost}"/>
      <parameter name="@LoginStatus" layout="${Convert:Property=LoginStatus"/>
    </target>
    <target name="SQLdatabase" xsi:type="Database"  dbProvider="System.Data.SqlClient.SqlConnection,System.Data.SqlClient" >
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO Sys_SqlLog
        (SqlLogId
        ,CreateUserId
        ,CreateUserCode
        ,CreateUserName
        ,CreateTime
        ,OperateSql
        ,EndDateTime
        ,ElapsedTime
        ,Parameter)
        VALUES
        (@SqlLogId
        ,@CreateUserId
        ,@CreateUserCode
        ,@CreateUserName
        ,@CreateTime
        ,@OperateSql
        ,@EndDateTime
        ,@ElapsedTime
        ,@Parameter);
      </commandText>
      <parameter name="@SqlLogId" layout="${Convert:Property=SqlLogId}"/>
      <parameter name="@CreateUserId" layout="${Convert:Property=CreateUserId}"/>
      <parameter name="@CreateUserCode" layout="${Convert:Property=CreateUserCode}"/>
      <parameter name="@CreateUserName" layout="${Convert:Property=CreateUserName}"/>
      <parameter name="@CreateTime" layout="${Convert:Property=CreateTime}"/>
      <parameter name="@OperateSql" layout="${Convert:Property=OperateSql}"/>
      <parameter name="@EndDateTime" layout="${Convert:Property=EndDateTime}"/>
      <parameter name="@ElapsedTime" layout="${Convert:Property=ElapsedTime}"/>
      <parameter name="@Parameter" layout="${Convert:Property=Parameter}"/>
    </target>
    <target name="Handerdatabase" xsi:type="Database"  dbProvider="System.Data.SqlClient.SqlConnection,System.Data.SqlClient" >
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO Sys_OperateLog (
        OperateLogId,
        ClientHost,
        ServerHost,
        RequestContentLength,
        RequestType,
        Url,
        UrlReferrer,
        RequestData,
        UserAgent,
        ControllerName,
        ActionName,
        ActionExecutionTime,
        ResultExecutionTime,
        ResponseStatus,
        system_operationlog.Describe,
        CreateUserId,
        CreateUserCode,
        CreateUserName,
        CreateTime
        )
        VALUES
        (
        @OperateLogId,
        @ClientHost,
        @ServerHost,
        @RequestContentLength,
        @RequestType,
        @Url,
        @UrlReferrer,
        @RequestData,
        @UserAgent,
        @ControllerName,
        @ActionName,
        @ActionExecutionTime,
        @ResultExecutionTime,
        @ResponseStatus,
        @Describe,
        @CreateUserId,
        @CreateUserCode,
        @CreateUserName,
        @CreateTime
        )
      </commandText>
      <parameter name="@OperateLogId" layout="${Convert:Property=OperateLogId}"/>
      <parameter name="@ClientHost" layout="${Convert:Property=ClientHost}"/>
      <parameter name="@ServerHost" layout="${Convert:Property=ServerHost}"/>
      <parameter name="@RequestContentLength" layout="${Convert:Property=RequestContentLength}"/>
      <parameter name="@RequestType" layout="${Convert:Property=RequestType}"/>
      <parameter name="@Url" layout="${Convert:Property=Url}"/>
      <parameter name="@UrlReferrer" layout="${Convert:Property=UrlReferrer}"/>
      <parameter name="@RequestData" layout="${Convert:Property=RequestData}"/>
      <parameter name="@UserAgent" layout="${Convert:Property=UserAgent}"/>
      <parameter name="@ControllerName" layout="${Convert:Property=ControllerName}"/>
      <parameter name="@ActionName" layout="${Convert:Property=ActionName}"/>
      <parameter name="@ActionExecutionTime" layout="${Convert:Property=ActionExecutionTime}"/>
      <parameter name="@ResultExecutionTime" layout="${Convert:Property=ResultExecutionTime}"/>
      <parameter name="@ResponseStatus" layout="${Convert:Property=ResponseStatus}"/>
      <parameter name="@Describe" layout="${Convert:Property=Describe}"/>
      <parameter name="@CreateUserId" layout="${Convert:Property=CreateUserId}"/>
      <parameter name="@CreateUserCode" layout="${Convert:Property=CreateUserCode}"/>
      <parameter name="@CreateUserName" layout="${Convert:Property=CreateUserName}"/>
      <parameter name="@CreateTime" layout="${Convert:Property=CreateTime}"/>
    </target>
    <target name="Errordatabase" xsi:type="Database"  dbProvider="System.Data.SqlClient.SqlConnection,System.Data.SqlClient" >
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO Sys_exceptionlog (
        ExceptionLogId,
        Message,
        StackTrace,
        InnerException,
        ExceptionType,
        ServerHost,
        ClientHost,
        Runtime,
        RequestUrl,
        RequestData,
        UserAgent,
        HttpMethod,
        CreateUserId,
        CreateUserCode,
        CreateUserName,
        CreateTime,
        ClientAddress
        )
        VALUES
        (
        @ExceptionLogId,
        @Message,
        @StackTrace,
        @InnerException,
        @ExceptionType,
        @ServerHost,
        @ClientHost,
        @Runtime,
        @RequestUrl,
        @RequestData,
        @UserAgent,
        @HttpMethod,
        @CreateUserId,
        @CreateUserCode,
        @CreateUserName,
        @CreateTime,
        @ClientAddress
        )
      </commandText>
      <parameter name="@ExceptionLogId" layout="${Convert:Property=ExceptionLogId}"/>
      <parameter name="@Message" layout="${Convert:Property=Message}"/>
      <parameter name="@StackTrace" layout="${Convert:Property=StackTrace}"/>
      <parameter name="@InnerException" layout="${Convert:Property=InnerException}"/>
      <parameter name="@ExceptionType" layout="${Convert:Property=ExceptionType}"/>
      <parameter name="@ServerHost" layout="${Convert:Property=ServerHost}"/>
      <parameter name="@ClientHost" layout="${Convert:Property=ClientHost}"/>
      <parameter name="@Runtime" layout="${Convert:Property=Runtime}"/>
      <parameter name="@RequestUrl" layout="${Convert:Property=RequestUrl}"/>
      <parameter name="@RequestData" layout="${Convert:Property=RequestData}"/>
      <parameter name="@UserAgent" layout="${Convert:Property=UserAgent}"/>
      <parameter name="@HttpMethod" layout="${Convert:Property=HttpMethod}"/>
      <parameter name="@CreateUserId" layout="${Convert:Property=CreateUserId}"/>
      <parameter name="@CreateUserCode" layout="${Convert:Property=CreateUserCode}"/>
      <parameter name="@CreateUserName" layout="${Convert:Property=CreateUserName}"/>
      <parameter name="@CreateTime" layout="${Convert:Property=CreateTime}"/>
      <parameter name="@ClientAddress" layout="${Convert:Property=ClientAddress}"/>
    </target>

  </targets>
  <rules>
    <logger name="LoginLogToDatabase" minlevel="Debug" writeTo="Logindatabase"/>
    <logger name="SqlLogToDatabase" minlevel="Debug" writeTo="SQLdatabase"/>
    <logger name="OperateLogToDatabase" minlevel="Debug" writeTo="Handerdatabase"/>
    <logger name="ExceptionLogToDatabase" minlevel="Debug" writeTo="Errordatabase"/>
  </rules>
</nlog>